<p style="color: green"><%= notice %></p>

<%= render @list_movie %>

<div>
  <%= link_to "Edit this list movie", edit_list_movie_path(@list_movie) %> |
  <%= link_to "Back to list movies", list_movies_path %>

  <%= button_to "Destroy this list movie", @list_movie, method: :delete %>
</div>
